@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap'); */

html {
  padding: 0;
  margin: 0;
  /* -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; */
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.75;
  color: #637381;
  font-weight: 300;
  font-family: "Roboto", Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 48px;
  line-height: 1.1;
  margin: 0 0 20px;
}

h2 {
  font-size: 36px;
  line-height: 1.2;
  margin: 0 0 20px;
}

h1,
h2,
h3,
h4 {
  color: #040515;
  font-weight: 500;
}

.site-header {
  background-color: #363534;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}

.header-wrap {
  /* margin: 0 auto;
	max-width: 1536px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 120px;
}

.logo {
  font-weight: bold;
  font-size: 28px;
  margin-left: 40px;
  margin-top: 40px;
}

.menu-items {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-top: 40px;
  font-size: 20px;
  font-weight: semibold;
}

.menu-items > a {
  font-weight: bold;
  font-size: 18px;
  padding: 0 20px;
}

.menu-items > a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.footer {
  height: 60px;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #363534;
  color: white;
}
